<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet "bootstrap" %>
    <%= stylesheet "prez-controller" %>
    <%= javascript "jquery" %>
    <%= javascript "prez-controller" %>
    <%= javascript "bootstrap" %>
  </head>

  <body>
    <div id="container" class="container-fluid">
      <div id="pre-launch">
        <div id="filler"></div>

        <div class="row">
          <div class="col-xs-6 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-3">
            <button id="new-window" type="button" class="btn btn-default btn-block btn-lg active" data-toggle="button">
              <span class="glyphicon glyphicon-new-window"></span>
              <span id="launch-message">Launch in new window</span>
            </button>
          </div>

          <div class="col-xs-6 col-md-4 col-lg-3">
            <button id="launch" class="btn btn-primary btn-block btn-lg">Start Presentation</button>
          </div>
        </div>

        <div id="slides-document" style="display: none;"><%= html_escape @_slide_contents %></div>
      </div>

      <div id="post-launch">
        <div class="row">
          <div class="col-xs-2">
            <button class="prev-slide btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-chevron-left"></span></button>
          </div>

          <div class="col-xs-offset-3 col-xs-2">
            <button class="end-prez btn btn-danger btn-block btn-lg"><span class="glyphicon glyphicon-remove"></span></button>
          </div>

          <div class="col-xs-offset-3 col-xs-2">
            <button class="next-slide btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </div>

        <p class="lead text-center">
          <strong>Current slide: <span class="current-slide-number"></span></strong>
        </p>

        <iframe id="preview-frame"></iframe>

        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <div id="slide-notes" class="lead">
            </div>
          </div>
        </div>
      </div>

      <div id="in-window-not-implemented-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="not-implemented" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="not-implemented">Not Implemented</h4>
            </div>

            <div class="modal-body">
              <p>
                Sorry, same window presentations are not yet implemented!
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
