<html>
  <head>
    <%= javascript "jquery" %>
    <%= javascript "prez-controller" %>
    <%= javascript "bootstrap" %>
    <%= stylesheet "_bootstrap" %>
    <%= stylesheet "prez-controller" %>
  </head>

  <body>
    <div id="pre-launch">
      <p>
        <input type="checkbox" id="new-window" checked="true" /> Launch in new window
      </p>

      <p>
        <button id="launch">Start Presentation</button>
      </p>

      <div id="slides-document" style="display: none;"><%= html_escape @_slide_contents %></div>
    </div>

    <div id="post-launch">
      <p>
        <input type="button" class="prev-slide" value="previous" />
        <input type="button" class="next-slide" value="next" />
      </p>

      <p>
        <input type="button" class="end-prez" value="end presentation" />
      </p>

      <p>
        Current slide: <span class="current-slide-number"></span>
      </p>

      <div id="slide-notes">
      </div>
    </div>
  </body>
</html>
