<html>
  <head>
    <%%= javascript "jquery" %>
    <%%= javascript "prez" %>
    <%%= stylesheet "prez" %>
  </head>

  <body>
    <%% slide do %>
      <p>
        Put each slide inside slide blocks.
      </p>
    <%% end %>
  </body>
</html>
