<html>
  <head>
    <%%= stylesheet "prez" %>
  </head>

  <body>
    <%% slide do %>
      <p>
        Put each slide inside slide blocks.
      </p>

      <%% notes do %>
        <p>
          Nest your slide notes inside the slide.
        </p>
      <%% end %>
    <%% end %>
  </body>
</html>
